<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>
<div th:align="center">
    <form th:method="POST" th:action="@{/admin/create}" th:object="${user}">
        <label for="name">Enter name: </label>
        <input type="text" th:field="*{username}" id="name"/>
        <br/>
        <br/>
        <label for="lastName">Last Name</label>-->
        <input type="text" th:field="*{lastName}" id="lastName" placeholder="Last Name">
        <br/>
        <br/>
        <label for="name">Enter password: </label>
        <input type="password" th:field="*{password}" id="password"/>
        <br/>
        <br/>
        <label for="name">Enter email: </label>
        <input type="text" th:field="*{email}" id="email"/>
        <br/>
        <br/>`
        <td>Roles</td>
        <br>
        <td>
            <th:block th:each="role : ${listRoles}">
                <input type="checkbox" name="index" th:value="${role.id}"/>
                <label th:text="${role.getName()}"></label>
                <br/>
            </th:block>
        </td>
        <br/>
        <input type="submit" value="Add new user"/>

    </form>
    <br/>
    <form th:method="GET" action="/admin/users">
    </form>
</div>
</body>
</html>