<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>

<div th:align="center">
    <form th:method="PATCH" th:action="@{/admin/update}" th:object="${user}">

        <br/>
        <label for="name">Enter name: </label>
        <input type="text" th:field="*{username}" id="name"/>
        <br/>
        <br/>
        <label for="lastname">Enter lastname: </label>
        <input type="text" th:field="*{lastName}" id="lastname"/>
        <br/>
        <br/>
        <label for="name">Enter email: </label>
        <input type="text" th:field="*{email}" id="email"/>
        <br/>
        <br/>
        <label for="name">Enter password: </label>
        <input type="password" th:field="*{password}" id="password"/>
        <br/>
        <br/>
        <td>Roles</td>
        <br>
        <td>
            <label>Roles:
                <select size="1" multiple name="listRoles" required="required">
                    <option selected="selected" value="1">USER</option>
                    <option value="2">ADMIN</option>
                </select>
            </label>
        </td>
        <br/>
        <input type="submit" value="Update"/>
    </form>
    <br/>
    </form>
</div>
</body>
</html>